<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adonis js </title>
    <link href="/css/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/fontAwesomeAll.min" />


</head>
<body>
    <div class="bg-gray-100 min-h-screen flex justify-center">
        <div class="w-full md:w-1/2">
            @section('content')
            @endsection
        </div>
    </div>
</body>
</html>