@layout('layout/layoutEmail')
@section('content')
    <h1>verify your email</h1>
    <h2>hi {{user.name}} </h2>
    <p>
        plase verify your email
    </p>
    <a href="{{ url }}"> click here </a> to verify your email
@endsection